<!DOCTYPE html>
<html  data-theme="forest">
<head>
  <title>Song Genre Prediction</title>

<link href="https://cdn.jsdelivr.net/npm/daisyui@3.1.6/dist/full.css" rel="stylesheet" type="text/css" />
<script src="https://cdn.tailwindcss.com"></script>
<link rel="stylesheet" href="static/styles.css">
<link rel="shortcut icon" href="static/spotify.png" class="logofav" type="image/x-icon">

</head>
<body>
    <div class="navbar bg-primary text-primary-content">
        <img src="static/spotify.png" class="logo" alt="">
        <a class="btn btn-ghost normal-case text-xl">Spotify Genre Prediction</a>
      </div>
      <div class="hero min-h-screen" style="background-image: url(https://images.pexels.com/photos/210766/pexels-photo-210766.jpeg?auto=compress&cs=tinysrgb&w=600);">
        <div class="hero-overlay bg-opacity-0"></div>
        <div class="hero-content text-center text-neutral-content">
          <div class="max-w-md">
            <h1 class="mb-5 text-5xl font-bold">Hello there</h1>
            <p class="mb-5">Provident cupiditate voluptatem et in. Quaerat fugiat ut assumenda excepturi exercitationem quasi. In deleniti eaque aut repudiandae et a id nisi.</p>
            <a href="http://127.0.0.1:5500/prediction" rel="noopener noreferrer"><button class="btn btn-primary">Get Started</button></a>
          </div>
        </div>
      </div>
  
</body>
</html>
